@import "vendor/adaptabl/src/index.less";

@dominant: #ffd9da;
@secondary: #cbc8c2;
@mid-grey: grey;
@dark-grey: darken(grey, 25%);
@link: #09bbff;
@gutter: 1%;

.nav-mixin() {
  background-repeat: no-repeat;
  background-position: center;
  height: 3em;
}

body {
  font-family: "Raleway";
  font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Times New Roman";
  font-size: 1.5em;
}

h1 {

}

a {
  color: @link;
}

p {
  .margin-reset();
  line-height: 1.3em;
}

button {
  background-color: #ec008b;
}

input, textarea, button {
  line-height: 2em;
  font-size: 0.925em;
}

input {
  margin-bottom: 0.5em;
}

textarea {
  height: 5em;
}

.wrapper {
  .wrapper(940px);
}

.right {
  .-float;
}

.section-seperator(@size: 1px; @style: solid; @color: @mid-grey; @position: bottom) {
  border-@{position}: @size @style @color;
}

.section-margin() {
  margin-top: 3em;
  margin-bottom: 3em;
}

.section-padding() {
  padding-top: 3em;
  padding-bottom: 3em;
}

header {

  .layout-object();
  .section-margin();

  .wrapper {

  }

  .internal-wrapper {
    .layout-object(98%);
    margin-left: 1%;
    margin-right: 1%;
    .section-seperator(2px; dotted; @dark-grey);
    .section-seperator(2px; dotted; @dark-grey; @position: top);
  }

  .panel {
    height: 10em;
    .layout-object(85%);

    &:first-child {
      width: 15%;
    }
  }

  .icon {
    border-right: 1px solid @grey;
    margin-top: 1em;
    margin-right: 3%;
    margin-left: -3%;
  }

  .space {
    .layout-object();
    height: 6em;
  }

  .who {
    .layout-object(68%);
    margin-left: 2%;
    height: 4em;

    h1 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 1.125em;
    }

    span {
      font-size: 0.875em;
    }
  }

  .nav {

    .layout-object(30%);
    .-alignment();
    height: 4em;
    text-transform: lowercase;

    a {
      display: inline-block;
      width: 4em;
      color: @dark-grey;
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        background-color: @dominant;
      }

      &.work-nav {
        .nav-mixin();
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/work.png');
      }

      &.about-nav {
        .nav-mixin();
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/about.png');
      }

      &.contact-nav {
        .nav-mixin();
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/contact.png');
      }

      span {
        margin-top: 1.5em;
        display: block;
        font-size: 0.875em;
      }
    }
  }

}

#portfolio {

  .layout-object();
  .section-padding();

  .wrapper {
    .section-seperator(2px; dotted; @dark-grey);
    padding-bottom: 3em;
  }

  .work {
    .layout-object(23%);
    .section-seperator();
    height: 30em;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3em;

    &:nth-child(4n+4) {
//        margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      font-size: 30px;
      line-height: 24px;
      height: 48px;
      margin-top: 3px;
    }
  }
}

#about {
  .layout-object();
  background-color: @dominant;
  .section-padding();

  .wrapper {
    .section-seperator(2px; dotted; @dark-grey; @position: bottom;);
  }
}

#footer {
  .layout-object();
  background-color: @secondary;
  padding-top: 3em;
}

.portfolio-item-tag {
    font-size: 0.75em;
    //padding: 0 0.25em 0 0.25em;
    margin: 0 0.5em 0 0;
    //background-color: @dominant;
    text-decoration: underline;
}

.portfolio-item-link, .portfolio-item-credits {
    font-size: 0.825em;
}

.portfolio-tags {
    margin-top: 8px;
}

#about {

}

.about-description {
    .layout-object(65%);
}

.about-skills {
    .layout-object(35%);
}

#presence {
    .layout-object(35%);
    .padding-right(5%);

    h2 {
        padding-bottom: 1em;
    }
}

.presence-item {
    .layout-object();
    .section-seperator(@color: @dark-grey);
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.presence-image {
    .layout-object(50%);
}

.presence-title {
    .layout-object(50%);
}

.presence-description {
    .layout-object();
}

#contact {
    .layout-object(65%);
    padding-bottom:7.625em;
    .section-seperator(@color: @dark-grey);

    h2 {
        padding-bottom: 1em;
    }
}

input, textarea {
    width: 100%;
}

button {
    .-float();
}

.contact-form-left {
    .layout-object(35%);
    margin-right: 5%;
}

.contact-form-right {
    .layout-object(60%);
    background-color: white;
}

#credits {
    .layout-object();
    padding-bottom: 0.5em;
    font-size: 0.75em;
}

#gallery {

  .layout-object();
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

  .gallery {
    height: 100%;
  }

  .header-panel {
    .layout-object();
    height: 15%;
    .alignment(center);
    font-size: 2em;
    padding-top: 3%;
  }

  .prev-panel {
    .layout-object(15%);
    height: 85%;
  }

  .next-panel {
    .layout-object(15%);
    height: 85%;
  }

  .set-panel {
    .layout-object(70%);
    height: 85%;
  }

  .prev {
    margin: auto;
    position: absolute;
    top: 50%; left: 5%;
    cursor: pointer;
    font-size: 8em;
  }

  .next {
    margin: auto;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    font-size: 8em;
  }

  .close {
    .object();
    margin: auto;
    position: absolute;
    top: 20%;
    right: 5%;
    cursor: pointer;
    height: 1em;
    width: 1em;
    line-height: 0.875em;
    .alignment(center);
    display: block;
    color: @grey;
    background-color: @dominant;
    font-size: 6em;
  }

}

.gallery-item-header {
  .layout-object();
}

.gallery-item-button {
  float: left;
  width: 10%;
}

.show-gallery, .hide-gallery {
  cursor: pointer;
}

.form-error {
  border-width: 1px;
  border-color: #ec008b;
}

.gallery-tools {
  .-float();
  .-alignment();
}

.gallery-set {
  .layout-object(70%);
  .alignment(center);
}

.gallery-item {
  .layout-object();
  .alignment(center);
}

.nav-mixin() {
  background-repeat: no-repeat;
  height: 3em;
  padding-top: 1em;
}
.work-nav {
  .nav-mixin();
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/work.png');
}

.about-nav {
  .nav-mixin();
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/about.png');
}

.contact-nav {
  .nav-mixin();
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/contact.png');
}
