@import "vendor/adaptabl/src/index.less";

@dominant: black;
@secondary: #cbc8c2;
@pink: rgb(255, 92, 142);
@mid-grey: #d0d0d0;
@light-grey: lighten(@mid-grey, 20%);
@dark-grey: darken(@mid-grey, 25%);
@link: #2ac7c1;
@gutter: 1%;


body {
  font-family: "Raleway";
  font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Oswald";
  font-size: 1.5em;
}

h1 {

}

h2 {
  font-size: 1.8em;
  line-height: 1em;
  // text-transform: uppercase;
}

ul {
  list-style-type: square;
}

a {
  color: @link;

  &:hover {
    color: #1b948f;
  }
}

p {
  .margin-reset();
  line-height: 1.3em;
}

input, textarea, button {
  line-height: 2.5em;
  font-size: 0.75em;
  background-color: #f4f4f4 !important;
  padding-left: 1em;
}

input {
  margin-bottom: 1.5em;
}

textarea {
  height: 8em;
}

button {
  background-color: @pink !important;
  font-weight: bold;
}

.wrapper {
  .wrapper(940px);
}

.right {
  .-float;
}

.section-seperator(@size: 1px; @style: solid; @color: @mid-grey; @position: bottom) {
  border-@{position}: @size @style @color;
}

.section-border {
  //background-color: red;
  .layout-object();
  height: 4px;
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/onWhiteDot.png');
  background-repeat: repeat-x;
}

.section-border-inverse {
  .layout-object();
  height: 4px;
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/onBlackDot.png');
  background-repeat: repeat-x;
}

.section-margin() {
  margin-top: 3em;
  //margin-bottom: 3em;
}

.section-padding() {
  padding-top: 3em;
  padding-bottom: 3em;
}

.nav-mixin() {
  .layout-object(33.3333%);
  background-repeat: no-repeat;
  background-position: center;
  height: 4em;
  padding-top: 4em !important;
  padding-bottom: 0.5em !important;
  margin-top: 1.25em;
  margin-bottom: 1.5em;
}

.header-panel-mixin() {
  height: 9.5em;
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}

header {

  .layout-object();
  .section-margin();

  .wrapper {
    //.section-seperator(2px; dotted; @dark-grey);
    //.section-seperator(2px; dotted; @dark-grey; @position: top);

  }

  .icon {
    .layout-object(20%);
    .header-panel-mixin();
    border-right: 1px solid @grey;
    text-align: center;

    img {
      vertical-align: middle;
    }
  }

  .who {
    .layout-object(55%);
    .header-panel-mixin();
    border-right: 1px solid @grey;
    text-align: center;

    h1 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 5.15em;
      line-height: 1em;
    }

    span {
      font-size: 3.675em;
      line-height: 1em;
      font-weight: 300;
      font-family: "Oswald";

    }
  }

  .nav {
    .layout-object(23%);
    margin: 0 1%;
    .header-panel-mixin();
    text-transform: lowercase;
    font-size: 0.75em;

    a {
      display: block;
      color: @dark-grey;
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        // background-color: @dominant;
      }

      &.work-nav {
        .nav-mixin();
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/work.png');
      }

      &.about-nav {
        .nav-mixin();
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/about.png');
      }

      &.contact-nav {
        .nav-mixin();
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/contact.png');
      }

      &.linkedin-nav {
        .nav-mixin();
        margin-top: 0.25em !important;
        background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/linkedIn.png');
      }

      span {
        margin-top: 2.5em;
        display: block;
        font-size: 0.875em;
      }
    }
  }

}

#portfolio {

  .layout-object();
  .section-padding();

  .wrapper {
//    .section-seperator(2px; dotted; @dark-grey);
    padding-bottom: 3em;
  }

  .section-border {
    margin-top: 2em;
  }

  .work {
    .layout-object(23%);
    .section-seperator();
    height: 35em;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1em;

    &:nth-child(4n+4) {
//        margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      font-size: 1.8em;
      line-height: 1.0675em;
      height: 40px;
      margin-top: 40px;
      margin-bottom: 7px;
      font-family: "Oswald";
      // text-transform: uppercase;
    }
  }

  .portfolio-item-credits {
    margin-top: 0.25em;
    color: #989898;
    font-size: 0.625em;
  }
}

#about {
  .layout-object();
  background-color: @dominant;
  color: white;
  .section-padding();

  .wrapper {

  }

  .section-border-inverse {
    margin-top: 2em;
  }

  .about-skills {
    h2 {
      color: white;
      font-family: "Oswald";
      margin-left: 20px;
      margin-top: 3px;
      line-height: 1em;
    }
  }
  .about-description {
    h2 {
      color: white;
      font-family: "Oswald";
      //margin-left: 20px;
      margin-top: 3px;
      line-height: 1em;
    }
  }

}

#footer {
  .layout-object();
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
}

.portfolio-item-tag {
    font-size: 0.75em;
    //padding: 0 0.25em 0 0.25em;
    margin: 0 0.5em 0 0;
    //background-color: @dominant;
    text-decoration: underline;
}

.portfolio-item-link, .portfolio-item-credits {
    font-size: 0.825em;
}

.portfolio-tags {
    margin-top: 8px;
}

.about-description {
  .layout-object(47.5%);
  .section-seperator();
  margin-right: 7.5%;
//  padding-right: 2.5%;
  height: 20em;

  p {
    font-size: 1em;
    line-height: 1.375em;
    margin: 1em 0;
  }
}

.about-skills {
  .layout-object(45%);
  .section-seperator();
  height: 20em;

  ul {list-style-type: none;padding-left: 20px;}
  li {text-decoration: underline;}
}

#presence {
    .layout-object(30%);
    .padding-right(5%);

    h2 {
      padding-bottom: 2em;
      font-size: 18px;
    }

    h3 {
      font-size: 22px;
    }
}

.presence-item {
    .layout-object();
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.presence-image {
    .layout-object(50%);
}

.presence-title {
  .layout-object(50%);
}

.presence-description {
    .layout-object();
}

#contact {
    .layout-object(65%);
    padding-bottom:7.625em;
    .section-seperator(@color: @dark-grey);

    h2 {
        padding-bottom: 2em;
    }

    button {
      width: 40%;
      font-size: 1.5em;
      line-height: 1.25em;
    }
}

input, textarea {
    width: 100%;
}

button {
    .-float();
}

.contact-form-left {
    .layout-object(35%);
    margin-right: 5%;
}

.contact-form-right {
    .layout-object(60%);
    background-color: #f4f4f4 !important;
}

#credits {
    .layout-object();
    padding-bottom: 0.5em;
    font-size: 0.75em;
}

#gallery {

  .layout-object();
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

  .gallery {
    height: 100%;
  }

  .header-panel {
    .layout-object();
    height: 15%;
    .alignment(center);
    font-size: 2em;
    padding-top: 3%;
    font-family: "Oswald";
  }

  .prev-panel {
    .layout-object(15%);
    height: 85%;
  }

  .next-panel {
    .layout-object(15%);
    height: 85%;
  }

  .set-panel {
    .layout-object(70%);
    height: 85%;
  }

  .prev {
    margin: auto;
    position: absolute;
    top: 50%; left: 5%;
    cursor: pointer;
    font-size: 8em;
  }

  .next {
    margin: auto;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    font-size: 8em;
  }

  .close {
    .object();
    margin: auto;
    position: absolute;
    top: 20%;
    right: 5%;
    cursor: pointer;
    height: 1em;
    width: 1em;
    line-height: 0.875em;
    .alignment(center);
    display: block;
    color: @grey;
    background-color: @dominant;
    font-size: 6em;
  }

}

.gallery-item-header {
  .layout-object();
}

.gallery-item-button {
  float: left;
  width: 10%;
}

.show-gallery, .hide-gallery {
  cursor: pointer;
}

.form-error {
  border-width: 1px;
  border-color: #ec008b;
}

.gallery-tools {
  .-float();
  .-alignment();
}

.gallery-set {
  .layout-object(70%);
  .alignment(center);
}

.gallery-item {
  .layout-object();
  .alignment(center);
}

.nav-mixin() {
  background-repeat: no-repeat;
  height: 3em;
  padding-top: 1em;
}
.work-nav {
  .nav-mixin();
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/work.png');
}

.about-nav {
  .nav-mixin();
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/about.png');
}

.contact-nav {
  .nav-mixin();
  background-image: url('https://dl.dropboxusercontent.com/u/15809489/ofir-liberman.com/img/contact.png');
}
